/*!
 * eD2k Link Selector CSS
 * by Tom Chen
 * https://emulefans.com/wordpress-ed2k-link-selector/
 * GPL v2
 */

.el-s {
	font: 13px/1.6em Verdana, Arial, sans-serif;
}

.el-s, .el-s * {
	margin: 0 !important;
	padding: 0 !important;
	color: #000 !important;
	text-decoration: none !important;
}

.el-s {
	border: 1px solid #ADBEC6 !important;
	border-top: none !important;
	border-collapse: separate !important;
	margin: 0 auto !important;
	clear: both;
	width: 100%;
	table-layout: fixed;
	text-align: left !important;
	vertical-align: middle;
	border-radius: 0 0 6px 6px;
}

.el-s * {
	font-size: inherit;
}

.el-s td {
	padding: 0.2em !important;
	border: none !important;
	border-collapse: collapse;
}

.el-s a {
	cursor: pointer;
	background: none !important;
}

.el-s a:hover {
	text-decoration: underline !important;
}

.el-s caption, .el-s caption td, .el-s-bottom, .el-s-bottom td {
	background: #DFE2F4 !important;
	text-align: center !important;
}

.el-s caption {
	padding: 0.2em !important;
	border-radius: 0 0 6px 6px;
	border: 1px solid #ADBEC6 !important;
	border-bottom: 1px dotted #ADBEC6 !important;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
}

.el-s-bottom td {
	border-radius: 0 0 6px 6px;
	border-bottom-left-radius: 6px 6px;
	border-bottom-right-radius: 6px 6px;
}

.el-s caption strong {
	font-size: 110%;
	margin: 0 0 0 5em !important;
}

.el-s caption, .el-s tfoot {
	line-height: 2em;
}

.el-s-chkbx {
	margin: 0 0.3em 0 0.2em !important;
}

.el-s-chktype {
	margin-right: 0 !important;
}

.el-s-desctr {
	text-align: center !important;
}

.el-s-desctr td, .el-s-selecttr td, .el-s-bottom td {
	border-top: 1px dotted #ADBEC6 !important;
}

.el-s-viewsrc {
	color: #888 !important;
	font-size: 90%;
}

.el-s-viewsrc:hover {
	color: #000 !important;
}

.el-s tbody, .el-s tbody td, .el-s-infotr, .el-s-infotr td {
	background: #E4EAF2 !important;
}

.el-s-tr1, .el-s .el-s-tr1 td, .el-s-info {
	background: #F5F9FD !important;
}

.el-s-tr2, .el-s .el-s-tr2 td {
	background: #EEF2F7 !important;
}

.el-s-tr1:hover, .el-s-tr1:hover td, .el-s-tr2:hover, .el-s-tr2:hover td {
	background: #FFF !important;
}

.el-s-left {
	white-space: normal;   
	word-break: break-all;
	word-wrap: break-word;
	width: auto;
}

.el-s td.el-s-right {
    padding-right: 0.6em !important;
    white-space: nowrap;
    width: 7em;
    text-align: right;
}

.el-s-selecttr td.el-s-left {
	line-height: 2em;
}

.el-s-selecttr .el-s-right {
	font-weight: bold;
}

.el-s-area {
	display: inline-block;
	margin-right: 0.7em !important;
}

.el-s-area-label {
	margin-left: 0.3em !important;
}

.el-s-txt, .el-s-sel {
	padding: 0.1em !important;
}

.el-s-txt {
	width: 8em;
}

.el-s-sizefilter {
	width: 2.4em;
}

.el-s-button-container {
	position: relative;
}

.el-s-button {
	display: inline;
	font-size: 100%;
	cursor: pointer;
	background: #ADBEC6 !important;
	border: 1px solid #808080 !important;
	font-weight: normal !important;
	overflow: visible;
	border-radius: 3px;
	transition: background-color 0.3s ease-out;
	margin: 0 0.2em !important;
	padding: 2px 5px !important;
	+padding: 3px 5px 0 !important; /* IE 6 7 hack */
}

.el-s-button:hover, .el-s-button.hover {
	background: #CBDCE4 !important;
}

.el-s-buttonimg .el-s-button {
	background: transparent none no-repeat scroll center 2px !important;
	border: none !important;
	padding-top: 34px !important;
}

.el-s-buttonimg2 .el-s-button {
	width: 36px;
	height: 36px;
	text-indent: -9999px;
	padding: 2px !important;
}

.el-s-buttonimg .el-s-button:hover, .el-s-buttonimg .el-s-button.hover {
	background-color: #FFF !important;
}

.el-s-buttonimg .el-s-download {
	background-image: url('img/download.png') !important;
}

.el-s-buttonimg .el-s-copylinks {
	background-image: url('img/copylinks.png') !important;
}

.el-s-buttonimg .el-s-copynames {
	background-image: url('img/copynames.png') !important;
}

.el-s-buttonimg .el-s-emcl {
	background-image: url('img/emulecollection.png') !important;
}

.el-s-yes {
	background: #3C0;
	font-family: Verdana, Tahoma, sans-serif;
	font-weight: bold;
}

.el-s-infotr td {
	padding: 0.4em !important;
}

.el-s-info {
	border: 1px solid #ADBEC6 !important;
	padding: 0.2em 0.4em !important;
	border-radius: 4px;
}

.el-s-info-desc {
	font-weight: bold;
}

.el-s-info-content {
	line-height: 1.6em;
}

.el-s-info-content code {
	font-family: "Courier New", Courier, monospace;
	font-size: 110%;
	background: #DDD !important;
}

.el-s-info-content a {
	color: #0000E6 !important;
}

.el-s-toright {
	float: right;
	font-weight: bold;
}

.el-s-toright .el-s-pseubtn {
	margin: 0 0 0 0.5em !important;
}

.el-s-titlebtn {
	width: 5em;
}

a.el-s-pseubtn:hover {
	text-decoration: none !important;
	color: #999 !important;
}